*, *:before, *:after {
    box-sizing: border-box;
}

input, textarea, select, button{
    font-size: 1.2vw;
}

body, html {
    height:100%;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
}

#container{
    position: relative;
    -webkit-print-color-adjust: exact;
}


#box{
    display: none;
    left: 50vw;
    top: 26vw;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border-radius: 5px;
    display: inline-block;
    border: 2px solid white;
    margin: auto;
    text-align: center;
    opacity: 0;
}

#title{
    background: white;
    color: #363636;
    text-align: center;
    padding: 0.7vw;
}

#box .halfcell{
  display: inline-block;
}

#box #inputs{
    padding: 0.7vw 1.4vw
}

#box .cell{
    display: block;
    width: 15vw;
}

#box .measurement{
    position: relative;
    text-align: justify;
    border-radius: 0.3vw;
    border: 1px solid white;
    vertical-align: middle;
    margin-top: 0.9vw;
}

#box .dimension{
    color: #ffffff;
    text-align: right;
    vertical-align: middle;
    padding-right: 0.9vw;
}

#box input{
    width: 4vw;
    margin-right: 1.5vw;
    background: transparent;
    color: white;
    text-align: center;
    border: 0px;
    padding: 0.25vw;
}

#board_pattern{
    background-color: white;
    margin-top: 0.45vw;
    position: relative;
    text-align: justify;
    border-radius: 0.45vw;
    border: 1px solid white;
    vertical-align: middle;
}

#box select{
    width: 13vw;
    background: transparent;
    color: #363636;
    text-align: right;
    border: 0px;
    margin: 0.2vw;
    vertical-align: middle;
    outline:none;
}

#box #create{
    background: white;
    color: #363636;
    display: inline-block;
    vertical-align: middle;
    padding: 0.3vw 1.8vw;
    border-radius: 0.3vw;
    cursor: pointer;
    transition: all 0.22s ease;
    margin-top: 1.2vw;
}

/* #box #create:hover{
    transform:scale(1.08);
} */

/* range slider *****************/

.tooltip {
    position: absolute;
    left: 50%;
    transform: translateX(-55%);
    padding: 0.17vw;
    display: block;
    color: #363636;
    font-size: 1.2vw;
}

/** font ***********************/

  /* cyrillic-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v19/KFOjCnqEu92Fr1Mu51TjASc-CsTKlA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

